@model SportsStore.WebUI.Models.ProductListViewModel
@using SportsStore.WebUI.HtmlHelpers;


@{
    ViewBag.Title = "Produkty";
}

@foreach(var p in Model.Products)
{
  @Html.Partial("ProductSummary", p);
}

<div class="pager pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>

